<!-- Coding set: show -->
<h1 class="no-bold">
  <%= @coding_set %>
</h1>

<div class="alert alert-block alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <div><strong>Under Construction</strong></div>
  This layout isn’t finished yet. Improvement suggestions are welcome.
</div>

<div class="row">
  <div class="span12">
    
    <p>The table is supposed to be similar to the
      <a href="../coding_frames">Coding frames list</a>.
    </p>

    <table class="table table-bordered-sharp table-striped table-hover dataTable">
      <thead>
        <tr>
          <th>Coding frame</th>
          <th># Microroles</th>
          <th>Microrole + Verb form(s), sorted by microrole</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td>…</td>
          <td class="number">40</td>
          <td>…</td>
        </tr>
        <tr>
          <td>…</td>
          <td class="number">12</td>
          <td>…</td>
        </tr>


      </tbody>
    </table>
  </div>
</div>
