<!-- Coding set: show -->
<h1 class="no-bold">
  <%= @coding_set %> <small>of <%= link_to @language, @language %></small>
</h1>

<div class="row">
  <div class="span12">
      <div class="alert alert-block alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <div><strong>Under Construction</strong></div>
      </div>

    <table class="table table-bordered-sharp table-striped table-hover dataTable">
      <thead>
        <tr>
          <th>Coding frame</th>
          <th># Microroles</th>
          <th>Microrole + Verb form(s), sorted by microrole</th>
        </tr>
      </thead>
      <tbody>
          <% @coding_frames.each do |cf| %>
            <tr>
              <td><%= link_to cf, [@language, cf] unless cf.nil? || cf.to_s.blank? %></td>
              <td class="text"></td>
              <td class="text"></td>
            </tr>
          <% end %>
      </tbody>
          </tbody>
    </table>
  </div>
</div>
