<div class="contributor pull-left" id="<%= dom_id(contributor) %>">
  <% c = contributor %>
  <% if c.photo_url %>
    <% photo = capture { image_tag(c.photo_url, class: 'img-polaroid photo') } %>
    <%= link_to_if c.url, photo, c.url %>
  <% end %>
  <h5 class="contributor-name"><%= link_to_if c.url, c.name, c.url %></h5>
  <% if c.affiliation %>
    <p><%= c.affiliation %></p>
  <% end %>
  
</div>
