<h5>
  <%= link_to language, language %>
  <small><%= language.family %></small>
</h5>
<% if language.contributor_count > 0 %>
  <div class="infowindow text">
    <small>
      contributed by <%= contributors_as_links language, false %>
    </small>
  </div>
<% end %>