<!-- Languages index -->
<% enable_gmaps %>
<div class="row">
  <div class="span12">  

    <h4>Languages by geographical region</h4>
    <% counter = 0 %>
    <div class="row">
      <div class="span6">
    
<!-- - - - - - - - -  alternative solution: show regions in columns - - - - - - -->
 <% @regions_custom.each do |region| %>
      <%= content_tag :h5, region, id: region_id(region)%>
      <table class="table table-very-condensed">
        <tbody>
          <% @languages.select{|l| l.continent == region}.each do |lang| %>
            <%= content_tag_for(:tr, lang) do %>
              <th class="language-name"><%= link_to lang, lang %></th>
              <td>
                <% if (contributors = lang.contributors).size > 0 %>
                  <%= contributors_as_links lang, false %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tbody>
      </table>
			<% if (counter += 1) > 2 # begin next column %>
				<% counter = 0 %>
				
				</div><div class="span6">
			<% end # endif %>
    <% end %>
<!-- - - - - - - - - - - - - end alternative layout - - - - - - - - -->

    </div><!-- span6 -->
  </div>  <!-- row -->

    
  </div>
</div>
