<div class="new_row">
<h1>Browser Support</h1>

<p>
<big>    This web application was optimized for the following browsers:
    <ul>
        <li>Firefox, Chrome, Opera, Safari, Flock</li>
        <li>Internet Explorer 10.x or higher</li>
    </ul>
</big>
</p>

</div>

<% content_for :footer do %>
<% end  %>