<div class="new_row">
<h1>Contact</h1>
<h2>Errata</h2>
<p>
    We keep a
    <a href="https://github.com/clld/valency/issues" class="ext-link">list of errata</a>
    as issues of the
    <a href="https://github.com/clld/valency" class="ext-link">Valency Patterns Leipzig Online Database on GitHub</a>.
</p>
<p>
    If you encounter an erratum you don't see listed yet, feel free to contact us by e-mail <strong>valpal&nbsp;[at]&nbsp;eva.mpg.de</strong> .
</p>

<h2>ValPaL Logo</h2>
    <p>
        <%= image_tag 'logo_valpal_text.png', style: 'width:20%;margin-right:20px' %> The ValPaL logo may be used to link to <strong>Valency Patterns Leipzig Online Database</strong>.
    </p>

</div>

<% content_for :footer do %>
<% end  %>