<div class="new_row">
<h1>Contact</h1>

<p><big>
    If you encounter a bug or you would like to send us comments or suggestions, please feel free to contact us via e-mail at <strong>valpal&nbsp;[at]&nbsp;shh.mpg.de</strong> .</big>
</p>
<p>

<h2>ValPaL Logo</h2>
    <p>
        <%= image_tag 'logo_valpal_text.png', style: 'width:20%;margin-right:20px' %> The ValPaL logo may be used to link to <strong>Valency Patterns Leipzig Online Database</strong>.
    </p>

</div>

<% content_for :footer do %>
<% end  %>