<div class="new_row">
<h1>Credits</h1>
<p>
    The editors express their gratitude to the developers of the Valency Patterns Leipzig Online Database, Alexander Jahraus, Hans-Jörg Bibiko, and Robert Forkel. It is primarily due to them that this has become such a very special product, fulfilling all our wishes and going far beyond.
</p><p>
    Next we are grateful to our funders: <b>(i)</b> the Deutsche Forschungsgemeinschaft (<a href="http://www.dfg.de" class="ext-link">DFG</a>) for providing crucial funding based on the DFG-funded Forschergruppe <a href="http://www.uni-leipzig.de/~va/" class="ext-link">"Grammatik und Verarbeitung verbaler Argumente"</a> over a period of 3 years (2010–2013). And <b>(ii)</b> we acknowledge the <a href="http://www.mpg.de/en">Max Planck Society</a>, on the one hand the <a href="http://www.eva.mpg.de/lingua">Linguistics Department</a> of the Max Planck Institute for Evolutionary Anthropology (headed by Bernard Comrie), for hosting the project and funding a number of workshops between 2010 and 2013, as well as providing funds for reliable technical support. On the other hand, we thank the Max Planck President for funding the <a href="http://clld.org/" class="ext-link">Cross-Linguistic Linked Data</a> project, into which ValPaL will be eventualy integrated.
</p><p>
Finally, we thank our student assistants, who have helped us enormously with the editing of the database, and who shared our enthusiasm in bringing together this treasure of information: Tina Gregor, Soung-U Kim, Hanna Thiele, and Luisa Baumann, as well as various interns that also helped us over the years.

</p>
<% content_for :footer do %>
<% end  %>