<div class="new_row">
<h1>Credits</h1>
<p>
    First comes the developers of the Patterns Leipzig Online Database, Alexander Jahraus, Hans-J&ouml;rg Bibiko, and Robert Forkel. It is primarily due to them that this has become such a very special product, fulfilling all our wishes and going far beyond.

    Next we are grateful to our funders: (i) the Deutsche Forschungsgemeinschaft (DFG) for providing crucial funding for ... over a period of three and a half years (2008–2011) through .... And (ii) we acknowledge the Max Planck Society, both the Linguistics Department of the Max Planck Institute for Evolutionary Anthropology (headed by Bernard Comrie), for generously funding seven conferences and workshops between 2006 and 2010 and providing funds for Leipzig-based assistants and reliable technical support, as well as the Max Planck President for funding for the Cross-Linguistic Linked Data project.

    
</p>
<% content_for :footer do %>
<% end  %>