<div class="row">
  <div class="span3">
    <a href ="/languages">
    <%= image_tag 'logo_valpal_text.png', style: 'width:300px;margin:0 auto;display:block;' %>
    </a>
  </div>
  <div class="span6">
    <h1 style="text-align:center; margin-top: 30px;">Welcome to <em>ValPaL</em></h1>
    <div style="text-align:center;">Exclusive Preview for the ALT 2013 Workshop</div>
    <h2 style="text-align:center;"><em>Valency Classes in the World’s Languages</em></h2>
    <p>
      This is a preliminary version of the
      <strong>Val</strong>ency <strong>Pa</strong>tterns <strong>L</strong>eipzig
      
      web site, which presents data gathered by the DFG funded research project
      <em>“Valency Classes in the World’s Languages”</em>.
      Our database has been edited for you by
      Iren Hartmann, Martin Haspelmath &amp; Bradley Taylor.
      The beautiful web interface has been programmed by Alexander Jahraus.
      
      
      
    </p>

    <h3 style="text-align:center;">Start exploring the data:</h3>
    <p style="text-align:center;">
      <a class="btn btn-info btn-large" href="/languages">Show All 35 Languages</a>
      &nbsp; or &nbsp; <a href="#" class="btn choose_lang btn-large">Select a Language</a>
    </p>

    <p>
      We are looking forward to hearing your feedback, your ideas, and your criticism.
    </p>
    <div class="alert">
      <strong>NOTE</strong> the Web site is not yet completed; for instance, the 
      Export functionality isn’t available and References aren’t displayed yet.
    </div>    
  </div>
  
  <div class="span3">
    <%= image_tag 'logo_valency.png', style: 'width:400px;margin:30px auto;display:block;' %>  
  </div>
</div>

<% content_for :footer do %>
<div class="container">
  <div class="row" style="position:absolute; bottom:10px">
    
    <div class="span3 offset3" style="text-align:center;">
      <%= image_tag 'logo_minerva.png', style: "width:80px;"%>
      <p style="color:#177A74; font-size:12px; margin:5px auto;">
        Max Planck Institute for Evolutionary Anthropology, Leipzig
      </p>
    </div>
    
    <div class="span3" style="text-align:center;">
      <p style="text-align:left; color:rgb(14,60,141); font-size:12px; margin:5px auto;">
        Funded by Deutsche Forschungsgemeinschaft
      </p>
      <%= image_tag 'logo_dfg.jpg', style: ""%>
    </div>
    
  </div>
</div>
<% end  %>
