<div class="new_row">
<h1>Project description</h1>
<p>
The <strong>Leipzig Valency Classes Project</strong>, funded  by the <a class="ext-link" href="http://www.dfg.de/" target="_blank">DFG</a> between 2009 and 2013, carried out a large-scale cross-linguistic comparison of valency classes, which resulted in the online database „Valency Patterns Leipzig (ValPaL)“.</p>
<p>
With respect to their valency properties, verbs fall into different classes in all languages. The project was inspired by Levin (1993), a classical study of syntactic classes of verbs in English, which argued that a semantic classification of verbs can be achieved through applying syntactic diagnostics. Yet, this study, as well as an earlier study by Apresjan (1967) on Russian, was not followed up cross-linguistically, which leaves open the question of which aspects of these classifications are universal and which are language-particular. Similarly, valency dictionaries are few in number and mostly deal with European languages, thus they cannot fill the gap. 
</p>
<p>
To make progress in the cross-linguistic study of valency classes, the members of the Valency Classes Project (Andrej Malchukov, Bernard Comrie, Iren Hartmann, Martin Haspelmath, Bradley Taylor &amp; Søren Wichmann) assembled a group of contributors, who collaborated on providing a consistent set of cross-linguistic data. 
</p>
<p>
There are two outcomes of the project: an <strong>edited volume</strong> (edited by Bernard Comrie &amp; Andrej Malchukov) and the <strong>online database ValPaL</strong>, edited by Iren Hartmann, Martin Haspelmath, &amp; Bradley Taylor). The edited volume, <i>Valency Classes: A comparative handbook</i>, will contain 30-odd chapters by an international team of language experts addressing the topic of valency classes in individual, genealogically and structurally diverse languages, as well as general chapters written by the project members. The edited volume and the database deal with a very similar set of languages, but the overlap is not complete.
</p>
<p>Both the volume  contributions and the database contributions are based on a <a href="/about/database"><strong>database questionnaire</strong></a> for a selected sample of 80 verbs. These verbs are conceived of as  representative of the verbal lexicon and have been reported in the literature  to show distinctive syntactic behaviour both within and across languages. Apart from valency frames (or more precisely, <a href="/about/database#coding_frames">coding frames</a>, as manifested by  flagging/case-marking and/or indexing/ agreement), the contributors will  provide information about major <a href="/about/database#coding_frames">argument alternations</a>, both uncoded alternations (such as the Dative  alternation in English) and verb-coded alternations (e.g., passive). Languages vary greatly with respect to the availability of alternation types and the distribution of these types over different verbs. Of greatest interest for the present project are alternations which contribute the most to verb classification in the sense that they are neither restricted to few verbs, nor apply across the board. </p>
<p>The datasets contributed by the authors were subjected to a rigorous review, and in each case, the revised version differs substantially from the originally submitted version. The editors made sure that the datasets conformed to the guidelines (the database manual) and were internally consistent. In addition to information about coding frames and alternations, the contributors were also asked to provide fully glossed and translated examples of each verb and each alternation. Again, the editors made sure that these examples are fully consistent.
</p>
</div>


<% content_for :footer do %>
<% end  %>