<h1>Alternations
  <small>of <%= link_to @language, @language %></small>
</h1> 

<table>
  <tr>
    <th>Alternation name</th>
    <th>Alternation type</th>
    <th>Coding frames of alternation</th>
  </tr>

<% @alternations.each do |alternation| %>
  <tr>
    <td><%= link_to raw(alternation.name), [@language, alternation] %></td>
    <td><%= alternation.alternation_type %></td>
    <td><%= alternation.coding_frames_text %></td>
  </tr>
<% end %>
</table>

<br />