<!-- Alternation detail -->
<p id="notice"><%= notice %></p>
<% a = @alternation %>
<div class="alternation padded-box">
  <h1 style="font-weight:normal;"><%= raw a.name %></h1>
</div>
<%= a.coded? ? 'Coded' : 'Uncoded' %> alternation
<% unless a.description.nil? %>
  <h2>Description</h2>
  <%= raw a.description %>
<% end %>


<div class="new row">
  <div class="span6">

  </div>
</div>

