<!-- Examples index -->
<h1>
  Examples
  <small>of <%= link_to @language, @language %></small>
</h1>

<div class="new row">
  <div class="span12">

    <table class="table table-bordered-sharp table-striped table-hover dataTable">
      <thead>
      <tr>
        <th>example</th>
      </tr>
    </thead>
    <tbody>
    <% @examples.each do |ex| %>
      <%= content_tag_for :tr, ex do %>
      <td>
        <%= render_example ex, {} %>
      </td>
      <% end %>
    <% end %>
  </tbody>
  </table>

  </div>
</div>

