/*** global styles – for layouts, nav bar, templates
 *   and shared classes. Don't put page-specific CSS here
 */

// override some Bootstrap defaults
.navbar {
	.brand, .nav > li > a {
		text-shadow:none;
	}
	.divider-vertical { margin:0; }
	.nav > .disabled > a {
		&:hover { // disable hover effects
			color: $navbarLinkColor;
		  text-decoration: none;
		  background-color: transparent;
		  cursor: default;
		}
	}
	.navbar-inner.no-gradient {
    background-image:none;
    background-color:lighten($vt, 10%);
    border:none;
  }
  .nav-tabs { // override Bootstrap defaults: no bottom border in nav tabs
    border-bottom: none;
    & > li {
      margin-bottom: 0;
    }
    & .cursor-hand, & .cursor-hand:hover { // show cursor as hand – typically on a link (to override Bootstrap default)
      cursor: pointer;
    }
    
  }
}

// mini buttons with icons: change alignment
.btn-mini [class^="icon-"] {
  vertical-align:top;
}

// disabled labels
label.disabled {
  color:$grayLight;
}

// button to toggle the comment below it
.btn-mini.with-h1{ // button to be aligned with h1
	position:relative;
	top:22px;
	margin:0 2em;	
}
.comment { // a div with a p.box inside
	position:relative;
	clear:both;
	width:auto;
	.box {
		background-color:lightyellow;
		padding:10px;
		border:1px dotted gray;	
	}
}

h1 {
	.label, .badge, .btn {
		vertical-align:middle;
	}
	small a {
		color: $grayLight;
	}
}
.new.row {
	margin-top:14px;
}


// alignment
form {
	&.with-h3 {
		display:inline-block;
		line-height:40px;
		margin:8px 0 0 1em;
	}
	&.with-h4 {
		display:inline-block;
		line-height:20px;
		margin:6px 0 0 1em;
	}
}

// dataTable filters: buttons/btn-groups to toggle column filters
.dt-filters {
	background-color:$grayLighter;
	border:1px solid $tableBorder;
	padding:10px;

	label {
	  margin-right:5px;
	  &:nth-child(n+2){
	    margin-left:10px;
	  }
	}
	.btn-group {
	  vertical-align:middle;
		display:inline-block;
	}
	.btn {
	  &.active {
      color: $textColor;
      background-color: $btnActiveBackground;
      *background-color: darken($btnActiveBackground, 5%);
    }
	}
	.dataTables_filter {
		display:inline-block;
		float:right;
	}
} 

// padded box for prominent info
.padded-box { // based on Bootstrap's .well class
  min-height: 20px;
  padding: 19px;
  margin-bottom: 10px;
  border: 1px solid darken($wellBackground, 7%);
  // @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

// multicolumn dropdown menus with div
.dropdown-menu {
  .column { /* the columns are divs */
		display:inline-block;
		float:left;
  }
	li:not(.divider) {
		display:block;
	}
	.no-menu-item {
		& > a {
			color: $linkColor;
			&:hover {
				background-color: inherit;
				background-image: none;
				color:$linkColorHover;
				text-decoration:underline;
			}
		}
	}
}

// Headings
h2, h3, h4, h5 {
	color:$vt;
}

// content-specific styles
.object-language { font-style:italic; }

// utility classes: font styles
.em { font-style:italic; }

/* utility classes: colors */
.bg-me { background-color:$bg-me; }
.bg-mr { background-color:$bg-mr; }
.bg-cf { background-color:$bg-cf; }
.bg-cs { background-color:lighten($bg-cs,6%); }

// utility classes: other properties
div.inline{
	display:inline-block;
}
.block{
	display:block;
}
.clear {
	clear:both;
	@include clearfix;
}
.cell {
	display: table-cell;
	&:first-child {
		padding-right:5px;
	}
}

/* link without href: style like regular link */
a.no-href {
	&:hover {
		cursor: pointer;
	}
}

/**************** TABLES ****************/
table {
	/* table without borders */
	&.no-borders {
		th, td {
			border-top:none;
		}
	}
		
	/* highly condensed table */
	&.table-very-condensed {
	  font-size: 90%;
		th, td {
			padding: 0; //2px 0;
		}
	}

	/* bordered table with sharp corners */
	&.table-bordered-sharp {
		border: 1px solid $tableBorder;
		th, td {
	    border-left: 1px solid $tableBorder;
	  }
		/* Prevent double borders – see Bootstrap's .table-bordered class */
	  caption + thead tr:first-child th,
	  caption + tbody tr:first-child th,
	  caption + tbody tr:first-child td,
	  colgroup + thead tr:first-child th,
	  colgroup + tbody tr:first-child th,
	  colgroup + tbody tr:first-child td,
	  thead:first-child tr:first-child th,
	  tbody:first-child tr:first-child th,
	  tbody:first-child tr:first-child td {
	    border-top: 0;
	  }
	}
}
td.number {
  text-align:right;
  padding-right:0.5em;
}

