/*** global styles – for layouts, nav bar, templates
 *   and shared classes. Don't put page-specific CSS here
 */

/* navigation bar: override some Bootstrap defaults */
.navbar {
	.brand, .nav > li > a {
    @include transition(background-color .3s ease);
		text-shadow:none;
	}
	.divider-vertical { margin:0; }
	.nav > .disabled > a {
		&:hover { // disable hover effects
			color: $navbarLinkColor;
		  text-decoration: none;
		  background-color: transparent;
		  cursor: default;
		}
	}
	.navbar-inner.no-gradient {
    background-image:none;
    background-color:$secondNavbarBackground;
    border:none;
  }
  .nav-tabs { // override Bootstrap defaults: no bottom border in nav tabs
    border-bottom: none;
    & > li {
      margin-bottom: 0;
    }
  }
  .align-with-tabs > li > a { // for an ul.nav with elements: add transparent border
    border-top:    1px solid transparent;
    border-bottom: 1px solid transparent;
  }
  & .cursor-hand, & .cursor-hand:hover { // show cursor as hand – typically on a link (to override Bootstrap default)
    cursor: pointer;
  }  
}

// mini buttons with icons: change alignment
.btn-mini [class^="icon-"] {
  vertical-align:top;
}

// disabled labels
label.disabled {
  color:$grayLight;
}

/* the .comment .box is toggled on and off with a button */
.comment { // a div with a p.box inside
	position:relative;
	clear:both;
	width:auto;
	.box {
	  line-height:normal;
  	background-color:$grayLighter;
  	border:1px solid $tableBorder;
  	padding:10px;
	}
}

/* Headings */
h1, h2, h3 {
  line-height: 32px;
}
h1 {
  color: inherit;
          font-size: 28px;
  small   { font-size: 20px; }
  &.small { font-size:20px; line-height:20px; margin-top:0; }
}
h2 { font-size: 18px; small { font-size:14px; } }
h3 { font-size: 14px; small { font-size:12px; } }

h4, h5, h6 { font-size: 12px; line-height: 20px; }
h4 { small { font-size:12px; } }

h1, h2, h3, h4 {
	.label, .badge, .btn {
		vertical-align:middle;
	}
	small a { /* don't color links in a <small> inside a heading */
		color: $grayLight;
	}
}

/* scaffold adjustments */
.new.row {
	margin-top:14px;
}


/* alignment of a form */
form.with-heading {
	display:inline-block;
	line-height:32px; // as h1 or h2
  h1 + & { margin:10px 0 0 1.5em;	}
  h2 + & { margin: 8px 0 0 1em;	  }	
  & > span { // fix to align with h1
    display:inline-block;
    margin-top:5px;
    margin-left:1em;
  }
}
/* dataTable filters: buttons/btn-groups to toggle column filters */
.dt-filters {
	background-color:$grayLighter;
	border:1px solid $tableBorder;
	padding:10px;

	.btn-group {
	  margin:0 8px;
	  vertical-align:middle;
		display:inline-block;
	}
	.btn {
	  &:not(.btn-danger):not(.btn-success):not(.btn-warning) {
    	&.active {
  	    color: $textColor;
        background-color: $btnActiveBackground;
        *background-color: darken($btnActiveBackground, 5%);
    	}	    
	  }
  	&.btn-danger.active {
      background-color: darken($btnDangerBackgroundHighlight,20%);
      *background-color: darken($btnDangerBackgroundHighlight, 16%);
  	}
  	&.btn-success.active {
      background-color: darken($btnSuccessBackgroundHighlight,20%);
      *background-color: darken($btnSuccessBackgroundHighlight, 16%);
  	}
  	&.btn-warning.active {
      background-color: darken($btnWarningBackgroundHighlight,20%);
      *background-color: darken($btnWarningBackgroundHighlight, 16%);
  	}
  }
  .dataTables_filter {
    display:inline-block;
    float:right;
  }
} 

// padded box for prominent info
.padded-box { // based on Bootstrap's .well class
  min-height: 20px;
  padding: 10px;
  border: 1px solid $navbarBackground;
  margin: 0 0 10px 0;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}

// multicolumn dropdown menus with div
.dropdown-menu {
  .column { /* the columns are divs */
		display:inline-block;
		float:left;
  }
  .caption {
    & > a {
      display: inline;
      padding-right:0;
      color: $linkColor;
      &:hover {
        color:$linkColorHover;
      }
    }
  }
	li:not(.divider) {
		display:block;
	}
	&.hover-items { /* links change on hover */
	  a {
	    max-width:110px;
	    .toggle-hover:first-child {
        opacity: 1;
        height: auto;
  	  }
	    .toggle-hover:last-child {
        opacity: 0;
        height:   0;
  	  }  	  
	  } // end .hover-items a
	  a:hover, a:active {
	    .toggle-hover:first-child {
        opacity: 0;
        height:   0;
  	  }
	    .toggle-hover:last-child {
        opacity: 1;
        height: auto;
  	  }  	  
	  } // end .hover-items a:hover	  
	}
}
.toggle-hover {
  overflow: hidden;
  white-space: normal;
  display:  block;
  @include transition(opacity .3s ease-in-out);
}

// content-specific styles
.object-language { font-style:italic; }

/* utility classes: colors */
.bg-me { background-color:$bg-me; }
.bg-mr { background-color:$bg-me; }
.bg-cf { background-color:$bg-cf; }
.bg-cs { background-color:lighten($bg-cs,6%); }
/* for highlighting, needed for jQuery .flash() plugin */
.flash-green { background-color:#00ff80 !important; }
.flash-yellow{ background-color:yellow  !important; }
.flash-navbar{ background-color:$navbarLinkBackgroundActive; }

// utility classes: other properties
div.inline{
	display:inline-block;
}
.block{
	display:block;
}
.big {
  font-size:larger;
}
.clear {
	clear:both;
	@include clearfix;
}
.cell {
	display: table-cell;
	&:first-child {
		padding-right:0.5em;
	}
  a:not(:last-child) {
    margin-right:0.5em;
  }
}


/* link without href: style like regular link */
// TODO check if anything uses this: if not, remove
a.no-href {
	&:hover {
		cursor: pointer;
	}
}

/**************** TABLES ****************/
table {
	/* table without borders */
	&.no-borders {
		th, td {
			border-top:none;
		}
	}
		
	/* highly condensed table */
	&.table-very-condensed {
	  font-size: 90%;
		th, td {
			padding: 0; //2px 0;
		}
	}

	/* bordered table with sharp corners */
	&.table-bordered-sharp {
		border: 1px solid $tableBorder;
		th, td {
	    border-left: 1px solid $tableBorder;
	  }
		/* Prevent double borders – see Bootstrap's .table-bordered class */
	  caption + thead tr:first-child th,
	  caption + tbody tr:first-child th,
	  caption + tbody tr:first-child td,
	  colgroup + thead tr:first-child th,
	  colgroup + tbody tr:first-child th,
	  colgroup + tbody tr:first-child td,
	  thead:first-child tr:first-child th,
	  tbody:first-child tr:first-child th,
	  tbody:first-child tr:first-child td {
	    border-top: 0;
	  }
	}
  td {
    .label { /*fix minimum width for single-character labels*/
      display:inline-block;
      min-width:8px;
    }
    &.number {
      text-align:right;
      padding-right:0.5em;
    }
    &.center	{
      text-align:center;
    }
    &.columns {
      .column {
        display:table-cell;
      }
      .column + .column {
        padding-left:1em;
      }
    }
  }
  &.table-horizontal {
    th {
      width:10em;
    }
  }
}

/* override Bootstrap default for popover width */
/* this is obsolete with Bootstrap v2.3, but might not work now */
.popover {
  width: auto;
  max-width: 326px;
}
/* Tooltips */
.ttip { // span to show tooltip under
  border-bottom:1px dotted $grayDark;
  &:hover {
    cursor:default;
  }
}

