/* Override defaults for Bootstrap variables. For documentation, visit
*  http://twitter.github.com/bootstrap/less.html#variables
*/

/********** color variables **********/
/* vt is for "valency teal" */
$vt: #5299a3;

/* navbar settings */
$navbarBackground:					darken($vt, 10%);
$navbarBackgroundHighlight:	lighten($vt, 10%);
$navbarLinkColor:						#efefef;
$navbarLinkColorHover:			lighten($navbarLinkColor, 10%);
$navbarLinkBackgroundHover:	$vt;
$navbarLinkColorActive:			$navbarLinkColor;
$navbarLinkBackgroundActive:$navbarBackground;

/* link colors */
$linkColor:      #333; /* equals $grayDark */
$linkColorHover: darken($vt, 10%);

/* dropdown links */
$dropdownLinkBackgroundHover:  $vt;
$dropdownLinkBackgroundActive: $dropdownLinkBackgroundHover;

$bg-me: #cff;    /* background for meanings */	
$bg-mr: lighten($bg-me, 6%); /* background for microroles */	
$bg-cf: #ffe6cc; /* background for coding frames */
$bg-cs: #ffffcc; /* background for coding sets */
$bg-cs-darker: saturate($bg-cs, 10%); /* background for coding sets (column headers) */

/* colors for dataTables */
$tableHeaderBackground: 				#fefefe;
$tableHeaderBackgroundHighlight:#dedede;