/* Override defaults for Bootstrap variables. For documentation, visit
*  http://twitter.github.com/bootstrap/less.html#variables
*/

/********** color variables **********/
/* vt is for "valency teal" */
$vt: rgb(58, 168, 182); // #5299a3 is from the Valency project homepage

/* navbar settings */
$navbarHeight: 30px;
$navbarBackground:					darken($vt, 10%);
$navbarBackgroundHighlight:	lighten($vt, 10%);
$secondNavbarBackground:    lighten(desaturate($vt, 10%),5%);
$navbarLinkColor:						#efefef;
$navbarLinkColorHover:			lighten($navbarLinkColor, 10%);
$navbarLinkBackgroundHover:	$navbarBackground;
$navbarLinkColorActive:			$navbarLinkColor;
$navbarLinkBackgroundActive:rgb(230, 96, 20);

/* link colors */
$linkColor:      #333; /* equals $grayDark */
$linkColorHover: darken($vt, 10%);

/* dropdown links */
$dropdownLinkBackgroundHover:  $vt;
$dropdownLinkBackgroundActive: $dropdownLinkBackgroundHover;

$bg-me: #cff;    /* background for meanings */	
$bg-mr: lighten($bg-me, 6%); /* background for microroles */	
$bg-cf: #ffe6cc; /* background for coding frames */
$bg-cs: #ffffcc; /* background for coding sets */
$bg-cs-darker: saturate($bg-cs, 10%); /* background for coding sets (column headers) */

/* colors for dataTables */
$tableHeaderBackground: 				#fefefe;
$tableHeaderBackgroundHighlight:#dedede;

/* darken .active buttons for dataTable filters – see _global.scss */
$btnActiveBackground: #bbb;