/* Override defaults for Bootstrap variables. For documentation, visit
*  http://twitter.github.com/bootstrap/less.html#variables
*/

/********** color variables **********/
/* vt is for "valency teal" */
$vt: rgb(58, 168, 182); // #5299a3 is from the Valency project homepage

/* navbar settings */
$navbarHeight: 28px;
$navbarBackground:					darken($vt, 10%);
$navbarBackgroundHighlight:	lighten($vt, 10%);
$secondNavbarBackground:    lighten(desaturate($vt, 10%),5%);
$navbarLinkColor:						#efefef;
$navbarLinkColorHover:			lighten($navbarLinkColor, 10%);
$navbarLinkBackgroundHover:	darken(saturate($navbarBackground, 10%), 6%);
$navbarLinkColorActive:			$navbarLinkColor;
$navbarLinkBackgroundActive:rgb(230, 96, 20);

/* link colors */
$linkColor:      #333; /* equals $grayDark */
$linkColorHover: darken($vt, 10%);

/* text colors */
$headingsColor: $vt;

/* dropdown links */
$dropdownLinkBackgroundHover:  $vt;
$dropdownLinkBackgroundActive: $dropdownLinkBackgroundHover;

$bg-me: saturate(#cff,10%);    /* background for meanings */	
$bg-cf: orange; /* background for coding frames */
$bg-cs: $bg-cf; /* background for coding sets */

/* colors for (data-)Tables */
$tableBorder: $navbarBackground;
$tableHeaderBackground: 				#fefefe;
$tableHeaderBackgroundHighlight:#cdcdcd;
$tableBackgroundAccent: #eee;
$tableBackgroundHover:  #ddd;


/* darken .active buttons for dataTable filters – see _global.scss */
$btnActiveBackground: #bbb;