/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 * <asterisk><equals> require_tree .    will require all files in this directory in alphabetical order
 *
 *= require_self
 * *** commented out *** = require bootstrap_with_settings
 * *** commented out *** = require dataTables/jquery.dataTables.bootstrap
*/
@import "bootstrap_with_settings";
@import "dataTables/jquery.dataTables.bootstrap";

h1 {
	line-height:48px;
}

div.dataTables_paginate {
	float: left;
	margin: 2px 0;
}