/*
 * This is a manifest file that'll be compiled into application.css,
 * which will include all the files listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets,
 * vendor/assets/stylesheets, or vendor/assets/stylesheets of plugins,
 * if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll
 * appear at the top of the compiled file, but it's generally better
 * to create a new file per style scope.
 * 
 * <asterisk><equals> require_tree . 
 * will require all files in this directory in alphabetical order
 *
 *= require_self
*/
@import "bootstrap_with_settings";
@import "datatables_with_style";
$bg-me:#cff;    /* background for meanings */	
$bg-cs:#ffffb3; /* background for coding sets */

h1 {
	line-height:48px;
}
h3 {
	color:$vt;
	margin-bottom:0.5em;
}
a.whole-ex{ /* whole example div in a link */
	text-decoration:none;
	color:inherit;
}
/* .span1, .span2, .span3, .span4, .span6, .span11 { background-color:#eee; } */
.object-language { font-style:italic; }
div.new.row {
	margin-top:14px;
}
.well.center {
	text-align:center;
}
.bg-cf {
	background-color:#fee4c3;
}
.bg-me{
	background-color:$bg-me;
}
.bg-mr{
	background-color:lighten($bg-me,6%);
}
.bg-cs{
	background-color:lighten($bg-cs,6%);
}
.bg-cs-darker{
	background-color:darken($bg-cs,10%);
}
.todo {
	border:1px dashed $grayLight;
}
span.sc {
	text-transform:lowercase;
	font-variant:small-caps;
}
div.inline{
	display:inline-block;
}
a.block{
	display:block;
}
div.gloss-unit {
	display:inline-block;
	margin-right:0.5em;
}
#verb_toggle_commment { /* is a button */
	display:inline-block;
	position:relative;
	float:left;
	top:16px;
	margin:0 2em;
	vertical-align:bottom;
}
#verb_comment { /* is a <div> containing a content <p class="box"> */
	position:relative;
	clear:both;
	.box {
		background-color:lightyellow;
		padding:10px;
		border:1px dotted gray;	
	}
}

