@import "dataTables/jquery.dataTables.bootstrap";

div.dataTables_paginate {
	float: left;
	margin: 0 0 2px 0;
}

table.dataTable thead {
	tr {
		@include gradient-vertical($tableHeaderBackground, $tableHeaderBackgroundHighlight);
	}
	th {
		color:$vt;
		padding-left:1.8em;
		@include transition(background-color .3s ease);
	}
	
	.sorting, .sorting_asc, .sorting_desc, .sorting_asc_disabled, .sorting_desc_disabled {
		background:{
			position: 3px center;
		};
	}
}