// Example-specific styles. Esp. for gloss formatting
// Used in all views that show examples.

span.sc { // small caps
	text-transform:lowercase;
	font-variant:small-caps;
}


// example div (contains everything from ex. number to interlinear glossed text)
.examples-container {
	display:table;
}
.example {
	display:table-row;
	.body {
		display:table-cell;
	}
	& + div {
		.body {
			padding-top:1em;
		}
	}
	.number {
		display:table-cell;
		padding-right:12px;
	}
	
	&.in-table { // make paddings smaller when inside a table
		.number {
			padding-right:6px;
		}
		& + div {
			.body {
				padding-top:0.5em;
			}
		}
	}
	 // a gloss unit is a div with two vertically stacked divs
	 // should only occur within a div.gloss-box
	.gloss-unit {
		display:inline-block;
		margin-bottom:0.5em;
		&:not(:last-child) {
      margin-right:0.5em;
		}
		.gl { // a chunk of gloss
			font-size:90%;
			.sc {
				font-size:120%;
				line-height:1.1em;
			}
		}
		.gl .ttip { // 
      border-bottom:1px dotted $grayDark;
      &:hover {
        cursor:help;
      }
    }
	}
	
	.gloss-box + .translation { // neutralize .gloss-unit’s margin-bottom 
	  margin-top:-0.5em;
	}
	
}

