// Example-specific styles. Esp. for gloss formatting
// Used in all views that show examples.

// example div (contains everything from ex. number to interlinear glossed text)
.examples-container {
	display:table;
}
.example {
	display:table-row;
	.body {
		display:table-cell;
	}
	& + div {
		.body {
			padding-top:1em;
		}
	}
	.number {
		display:table-cell;
		padding-right:12px;
	}
	
	&.in-table { // make paddings smaller when inside a table
		.number {
			padding-right:6px;
		}
		& + div {
			.body {
				padding-top:0.5em;
			}
		}
	}
	
	.gloss-unit { // a gloss unit is a div with two vertically stacked divs
		display:inline-block;
		& + .gloss-unit {
			margin-left:0.5em;
		}
		.gl { // a chunk of gloss
			font-size:85%;
			.sc {
				font-size:120%;
			}
		}
	}
	
}
