// Example-specific styles. Esp. for gloss formatting
// Used in all views that show examples.

span.sc { // small caps
	text-transform:lowercase;
	font-variant:small-caps;
}

// example div (contains everything from ex. number to interlinear glossed text)
.examples-container {
	display:table;

	.divider { // the divider is invisible because of display:table
	  margin:0;
	  & + .example {
      .number, .body {
  	    padding-top:1em;
        border-top:1px solid $tableBorder;
      }
	  }
  }
  & > .example:not(:last-child) .body {
    padding-bottom:1em;
  }
}
.example {
  display:table-row;
  .number, .body {
    display:table-cell;
  }
  .number {
    padding-right:12px;
  }
  // a gloss unit is a div with two vertically stacked divs
  // should only occur within a div.gloss-box
  .gloss-unit {
    display:inline-block;
    margin-bottom:0.5em;
    &:not(:last-child) {
      margin-right:0.5em;
    }
    .gl { // a chunk of gloss
      font-size:90%;
      .sc {
        font-size:120%;
        line-height:1.1em;
      }
    }
  }
  .gloss-box + .translation { // neutralize .gloss-unit’s margin-bottom 
    margin-top:-0.5em;
  }
}

td .examples-container > .example { /* make paddings smaller when inside a table */
  .number {
    padding-right:6px;
  }
  &:not(:last-child) .body {
    padding-bottom:0.5em;
  }
}
