// styles for the /languages list
tr.language {
  th.language-name {
    width:40%;
  }
  td.contributor {
    padding-left:1em;    
  }
  .person {
    white-space: nowrap;
  }
  &.selected, &.selected:hover {
    background-color: yellow;
  }
}
[id^="region"].selected {
  background-color: yellow;
}

// copied over from JS:
#language_metadata th {
  width: 6em;
}

// contributor profiles / pictures
.contributor {
  .contributor-name {
    color:$linkColor;
  }
  width: 12em;
  h5 {
    margin-bottom:8px;
  }
  .photo {
    max-width:100%;
    max-height:200px;
  }
  & + .contributor {
    margin-left:1em;
  }
}

// customized styles for gmaps4rails
.map_container { // the outer container of the map: governs borders etc.
  padding: 6px;
  border: {
    width: 1px;
    style: solid;
    color: $tableBorder;
  };
  @include box-shadow(0 0 10px 0 rgba(64, 64, 64, 0.3));
  .gmaps4rails_map { // the inner map div
    height: 500px;
  }
  &.single {
    height:300px;
    .gmaps4rails_map { // the inner map div
      height: 300px;
    }
  }
}
// fix for Bootstrap
.map_container, .gmaps4rails_map {
  img { 
    max-width: none;
  }
  label { 
    width: auto;
    display:inline; 
  } 
}


.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
} 
.infowindow.text {
	max-width: 250px;
}