// styles for the /languages list
tr.language {
  th.language-name {
    width:40%;
  }
  td.contributor {
    padding-left:1em;    
  }
  .person {
    white-space: nowrap;
  }
  &.selected, &.selected:hover {
    background-color: yellow;
  }
}
[id^="region"].selected {
  background-color: yellow;
}

// copied over from JS:
#language_metadata th {
  width: 6em;
}

// customized styles for gmaps4rails
.map_container {
  padding: 6px;
  border: {
    width: 1px;
    style: solid;
    color: $tableBorder;
  };
  @include box-shadow(0 0 10px 0 rgba(64, 64, 64, 0.3));
}
// fix for Bootstrap
.map_container, .gmaps4rails_map {
  img { 
    max-width: none;
  }
  label { 
    width: auto;
    display:inline; 
  } 
}

.gmaps4rails_map {
  //width: 800px;
  height: 500px;
}

.bing_map {
   position: absolute;
   top: 20;
   left: 10;
   width: 400px;
   height: 400px;
   border:#555555 2px solid;
} 
.infowindow.text {
	max-width: 250px;
}