/*** styles for verbs layouts ***/

// styles for the coding frame index number info table
th {
	&.idx-no { /* index number in th */
		width: 1em;
		text-align: center;
		background-color:$bg-cf;
	}
}
td, th {
  &.meaning, &.microrole {
    background-color: $bg-me;
  }
  &.coding-set {
    background-color: $bg-cs;    
  }	  
}

tr, th {
  @include transition(outline linear .2s);
  &.outline {
    outline:2px solid $tableBorder;
  }
}
