<!-- Coding frames index -->
<h1>
  Coding frames
  <small>of <%= link_to @language.name, @language %></small>
</h1>

<table id="coding_frames_list" class="table table-striped table-bordered dataTable">
  <thead>
    <tr>
      <th>Coding frame</th>
      <th>Description</th>
      <th>Meaning labels &amp; Verb forms</th>
    </tr>
  </thead>
    
  <tbody>
    <% @coding_frames.each do |cf| %>
    <% verbs = cf.verbs %>
      <tr>
        <td><%= link_to(cf, [@language, cf]) unless cf.blank? %></td>
        <td><%= cf.description if cf %></td>
        <td><%= verb_list(verbs) if verbs %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br />
