<h1>Coding Frames</h1>

<table>
  <tr>
    <th>Coding frame schema</th>
    <th>Description</th>
    <th>Comment</th>
  </tr>

<% @coding_frames.each do |coding_frame| %>
  <tr>
    <td><%= coding_frame.coding_frame_schema %></td>
    <td><%= coding_frame.description %></td>
    <td><%= coding_frame.comment %></td>
  </tr>
<% end %>
</table>

<br />
