<!-- navigation partial -->
<!-- in particular, this will get rendered in the top bar of a Bootstrap layout -->
<%= link_to "The Leipzig Valency Classes Database", root_path, :class => 'brand' %>
<ul class="nav">
    <li>
	
    </li>
    <li>
	
    </li>
</ul>
